{% load wagtailcore_tags %}
{% if ancestors %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% for ancestor in ancestors %}
            {% if forloop.last %}
                <li class="breadcrumb-item active" aria-current="page">{{ ancestor.title }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% pageurl ancestor %}">{% if ancestor.depth == 2 %}Home{% else %}{{ ancestor.title }}{% endif %}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>
{% endif %}
