{% load static wagtailuserbar navigation_tags %}<!DOCTYPE html>
<html class="no-js" lang="en-AU">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="{% block meta_description %}{% if self.search_description %}{{ self.search_description }}{% endif %}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/schoolsite.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <a class="skip-link" href="#main-content">Skip to main content</a>
        {% wagtailuserbar %}

        {% include "includes/header.html" %}

        <main id="main-content" tabindex="-1">
            {% block content %}{% endblock %}
        </main>

        {% include "includes/footer.html" %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/popper/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/schoolsite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
