{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
{% endif %}
{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <div class="form-group field-{{ field.field.widget.input_type|default:'multi' }}{% if field.errors %} has-error{% endif %}">
            {% if field.field.widget.input_type == 'checkbox' and not field.field.choices %}
                <div class="form-check">
                    {{ field }}
                    <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
            {% elif field.field.widget.input_type == 'checkbox' or field.field.widget.input_type == 'radio' %}
                <fieldset>
                    <legend class="col-form-label">{{ field.label }}{% if field.field.required %} <span class="required" aria-hidden="true">*</span>{% endif %}</legend>
                    {{ field }}
                </fieldset>
            {% else %}
                <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} <span class="required" aria-hidden="true">*</span>{% endif %}</label>
                {{ field }}
            {% endif %}
            {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
            {% if field.errors %}<div class="invalid-feedback d-block">{{ field.errors|join:" " }}</div>{% endif %}
        </div>
    {% endif %}
{% endfor %}
